// color pallete

$color-bg-shade: #EEEFFB;
$color-grey-text: #151875;
$color-primary: #FB2E86;
$color-white: #FFFFFF;
$color-liner-bg:#F3F9FF;
$color-red: #FB2448;
$color-bg: #EBEBEB;
$color-black: #111111;
$color-grey-ph: #c2c2c2;
$color-bc-hero: #4853c2;

// breakpoints
$screen-tiny: 360px;
$screen-tiny-small: 500px;
$screen-small: 767px;
$screen-medium: 992px;
$screen-large: 1200px;
$screen-x-large: 1440px;


$grid-breakpoints: (
		xs: 0,
		ty: $screen-tiny,
		sm: $screen-small,
		md: $screen-medium,
		lg: $screen-large,
		xl: $screen-x-large
) !default;
