.listOffers {
    width: 100%;
    background-color: $color-bg;
    font-family: $font-inter;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;



    &__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 16px;
        padding: 16px;
        background-color: $color-white;


        @include media-breakpoint-up('sm') {
            display: flex;
            flex-direction: row;
            align-items: center;

        }

        &--image {
            margin: 16px;

        }
    }
    &__contentDesc {

        &--title {
            margin-bottom: 12px;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 2.6rem;
            color: $color-grey-text;

        }

        &--price {
            align-self: baseline;
            margin-bottom: 16px;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3.2rem;

        }

        &--price-on {
            color: $color-grey-text;
            margin-right: 16px;

        }

        &--price-none {
            text-decoration-line: line-through;
            color: #FA3BE5;

        }

        &--stars {
            padding: 16px;
            margin-left: 26px;
        
        }

        &--description {
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2.4rem;
            color: $color-desc-text;
            margin-bottom: 16px;

        }

        @include media-breakpoint-up('sm') {
            width: 60%;
            flex-direction: row;
            align-items: center;

        }

    }

    &__btn {
        margin: 16px;
        &--buy {
            width: 80%;
            max-width: 212px;
            height: 48px;
            background-color: $color-primary;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3.2rem;
            color: $color-white;
            text-align: center;
            margin-bottom: 16px;
            border: none;

        }

        &--cart {
            width: 80%;
            max-width: 212px;
            height: 48px;
            background-color: $color-white;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 3.2rem;
            color: $color-primary;
            text-align: center;
            margin-bottom: 16px;
            border: 1px solid $color-primary;

        }
    }

}