.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-inter;
    color: $color-grey-text;
    font-size: 1.8rem;
    line-height: 3.2rem;
    background-color: $color-white;
    min-width: 180px;
    margin-left: 16px;
    margin-right: 16px;

    &__input-container {
        width: 100%;
        min-width: 248px;
        max-width: 692px;
        height: 40px;
        display: flex;
        margin-top: 16px;
        margin-left: 16px;

        &--box {
            width: 100%;
            min-width: 180px;
        }

    }

    &__input::placeholder {
        color: $color-grey-ph;
    }

    &__navbar-mobile {
        display: flex;
        justify-content: center;

        &__icon-list {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            line-height: 1.5;
            margin-top: 22px;

            &--item-cart {
                align-items: center;
                padding: 0 16px;
                list-style: none;
                border: none;
                background-color: transparent;
            }

            &--item-hamburger-menu {
                justify-content: center;
                list-style: none;
                border: none;
                background: none;
            }
        }


        @include media-breakpoint-up('sm') {
            display: none;
        }
    }

    &__navbar {
        display: none;
        line-height: 1.5rem;

        @include media-breakpoint-up('sm') {
            display: flex;
            justify-content: center;
        }
    }

    &__desktop-nav {
        display: flex;
        list-style-type: none;
        align-items: center;
        line-height: 1.5rem;
        padding-top: 12px;
    }

    &__nav-item a {
        margin: 0 10px;
        text-decoration: none;
        color: $color-grey-text;
    }
}


