.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    background-color: $color-bc-hero;

    @include media-breakpoint-up('sm') {
        justify-content: center;
    }

    &__component {
        scroll-snap-align: center;
        display: flex;
        width: 246px;
        max-width: 500px;
        height: 128px;
        margin-right: 16px;
        padding: 16px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        background: linear-gradient(105.15deg, #5465FF 0%, #B654EF 100%);



        &--description {
            font-family: $font-josefin-sans;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.8rem;
            color: $color-white;


            &-title {
                font-family: $font-josefin-sans;
                font-size: 1.4rem;
                font-weight: 700;
                line-height: 1.8rem;
                color: $color-white;
            }

            &-link {
                font-family: $font-lato;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1rem;
                color: $color-white;
            }
        }


        &--image {
            width: 50%;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
}