:root {
    $color-bg-shade: #EEEFFB;
    $color-grey-text: #151875;
    $color-primary: #FB2E86;
    $color-white: #FFFFFF;
    $color-liner-bg:#F3F9FF;
    $color-red: #FB2448;
    $color-bg: #EBEBEB;
    $color-black: #111111;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
}
header nav ul li {
    list-style: none;
    
}
